#add-advertiser-dialog {

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }

    .header {

        .close-icon-button {
            top: -40px;
            padding-right: 0;
            margin-right: -85%;
        }
    }
}